<% provide(:title, @task.user.name) %>
       <div class="col-sm-4">
          <div class="row">
            <div class="col-xs-12 text-right">
                      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
    <div class="team-member">
      <p class="text-muted"><%=@task.user.name%></p>
      <p><%=@task.content%></p>
      <ul class="list-inline social-buttons">
        <li><a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a>
        </li>
      </ul>
   </div>
  </div>
</div>




 