<div class="col-md-4 col-sm-6 portfolio-item">
                    
                    <div class="portfolio-caption">
                        <%= gravatar_for organisation, size: 50 %>
                        <p class="text-muted"><%= link_to organisation.name, organisation %></p>
                        <%= link_to "", organisation, method: :delete,
		                                  data: { confirm: "Permanantly remove #{organisation.name}?"}, class:"fa fa-trash" %>
                    </div>
 </div>