<div class="col-md-4 col-sm-6 portfolio-item">
                    
                    <div class="portfolio-caption">
                       <!-- <%= gravatar_for organisation, size: 50 %>-->
                        <p class="text-muted"><%= image_tag organisation.logo.url(:thumb), class:"gravatar",size:"50" %></p>
                       <!-- <%= link_to "", organisation, method: :delete,
		                                  data: { confirm: "Permanantly remove #{organisation.name}?"}, class:"fa fa-trash" %>-->
                    </div>
 </div>