<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                            <%= image_tag("img/about/1.jpg", alt: '', class: "img-circle img-responsive") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   <!--  <h4>2014-2015</h4> -->
                                    <h4 class="subheading">We Are...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A Zimbabwean Mixed Use Startup & Small Business Incubator | Enterprise Development Leveraging the Internet | Focus : Youth, Especially Young Women!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag("img/about/2.jpg", alt: '', class: "img-circle img-responsive") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>March 2011</h4> -->
                                    <h4 class="subheading">We are excited by...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Enterprise development in the age of the internet! The possibilities of scale, depth, reach - are endless!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                               <%= image_tag("img/about/3.jpg", alt: '', class: "img-circle img-responsive") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   <!--  <h4>December 2012</h4> -->
                                    <h4 class="subheading">Our Goal is to </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Assist you acquire the two things that are the future of small businesses and start-ups : financial literacy and digital skills for small business.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag("img/about/4.jpg", alt: '', class: "img-circle img-responsive") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   <!--  <h4>July 2014</h4> -->
                                    <h4 class="subheading">We will build...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">An ecosystem around you that will nourish and accelerate you to achieving your full potential. We will hold your hand and provide support because successful start-ups are all about community!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
