<footer>
        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-lg-6 text-left">
                    <span class="copyright">Copyright &copy; <%= link_to "http://www.izonehub.co.zw" %> 2015</span>
                </div>
                <div class="col-md-6 text-left">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                    </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                        <li>
                        <%= link_to "Help", help_path %></li>
                    </ul>
                </div>
            </div>
       <!-- </div>-->
    </footer>