<footer class="footer">
  <small>
    <a href="#">iZone</a>
    is powered by <a href="http://www.investorsaint.co.zw">InvestorSaint</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="http://www.investorsaint.co.zw">News</a></li>
    </ul>
  </nav>
</footer>