<footer>
        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; <%= link_to "http://www.izonehub.co.zw" %> 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="http://www.twitter.com/izonezw"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="http://www.facebook.com/izonezw"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="http://www.linkedin.com/izonezw"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                    </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                        <li>
                        <%= link_to "Help", help_path %></li>
                    </ul>
                </div>
            </div>
       <!-- </div>-->
    </footer>