<li> 
      
	  <p><%= link_to ">>>", "#taskmodal123","data-toggle" => "modal" %></p>
      <p><%=task.content %></p>
      <p class="text-muted"><%=task.user.name%></p>
      <span class="timestamp">
    Posted <%= time_ago_in_words(task.created_at) %> ago.
  </span>
</li>