<section id="team" class="bg-light-gray organisation">
<p>
<p>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag("img/team/7.jpg", alt: '', class: "img-circle img-responsive") %>
                        <h4>Sandra Chisepo</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://www.twitter.com/schisepo"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://www.facebook.com/sandra.chisepo"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <%= image_tag("img/team/8.jpg", alt: '', class: "img-circle img-responsive") %>
                        <h4>Kudzai M. Mubaiwa</h4>
                        <p class="text-muted">Chief Empowerment Officer</p>
                        <ul class="list-inline social-buttons">
                           <li><a href="http://www.twitter.com/kumub"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://www.facebook.com/kudzaimmubaiwa"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                      <%= image_tag("img/team/6.jpg", alt: '', class: "img-circle img-responsive") %>
                        <h4>Bruce Kanyera</h4>
                        <p class="text-muted">Lead Analyst</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="http://www.twitter.com/kanyerabc"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://www.facebook.com/bkanyera"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
<!--             <div class="row">
                <div class="col-lg-8 col-amfs/2et-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div> -->
        </div>
    </section>
